# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
dist-ssr/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Vite
*.local

# CodeBuddy
.codebuddy/
